:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* FORCE LIGHT MODE ONLY */
  color-scheme: light;

  
  color: #111827;
  background-color: #e5e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #1d4ed8;
  text-decoration: inherit;
}
a:hover {
  color: #1e40af;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #1d4ed8;
}
button:focus,
button:focus-visible {
  outline: 3px solid #1d4ed8;
}


